btn {
  margin: 0 auto;
  display: block;
}

, .btn:focus, .btn:active:focus, .btn:focus {
  outline: none !important;
}

*btn:active, .btn:focus, .btn: {
}

.btn {
  margin: 0 auto;
  display: block;
}

