<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Product Categories</title>
    <link rel="stylesheet" th:href="@{assets/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" th:href="@{assets/fonts/fontawesome-all.min.css}">
    <link rel="stylesheet" th:href="@{assets/fonts/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{assets/fonts/fontawesome5-overrides.min.css}">
</head>

<body id="page-top">
<div id="wrapper">
    <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
        <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
            <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-laugh-wink"></i></div>
            <div class="sidebar-brand-text mx-3"><span>Brand</span></div>
        </a>
            <hr class="sidebar-divider my-0">
            <ul class="navbar-nav text-light" id="accordionSidebar">
                <li th:if="${loggedinUser.user.accessLevel} == 'ADMIN'" class="nav-item"><a class="nav-link active" th:href="@{/userManagement}"><i class="fas fa-table"></i><span>User Management</span></a></li>
                <li th:if="${loggedinUser.user.accessLevel} == 'ADMIN'" class="nav-item"><a class="nav-link active" th:href="@{/categoryManagement}"><i class="fas fa-table"></i><span>Category Management</span></a></li>
                <li th:if="${loggedinUser.user.accessLevel} == 'ADMIN'" class="nav-item"><a class="nav-link active" th:href="@{/productManagement}"><i class="fas fa-table"></i><span>Product Management</span></a></li>
                <li class="nav-item"><a class="nav-link active" th:href="@{/login}"><i class="fas fa-table"></i><span>Log in</span></a></li>
                <li class="nav-item"><a class="nav-link active" th:href="@{/register}"><i class="fas fa-table"></i><span>Register</span></a></li>
                <li class="nav-item"><a class="nav-link active" th:href="@{/clientDashboard}"><i class="fas fa-table"></i><span>Client dashboard</span></a></li>
                <li class="nav-item"><a class="nav-link active" th:href="@{/order}"><i class="fas fa-table"></i><span>Order</span></a></li>
                <li class="nav-item"><a class="nav-link active" th:href="@{/points}"><i class="fas fa-table"></i><span>points</span></a></li>
                <li class="nav-item"><a class="nav-link active" th:href="@{/reviews}"><i class="fas fa-table"></i><span>reviews</span></a></li>
            </ul>
            <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
        </div>
    </nav>
    <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
            <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle mr-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
                    <ul class="navbar-nav flex-nowrap ml-auto">
                        <div class="d-none d-sm-block topbar-divider"></div>
                        <li class="nav-item dropdown no-arrow">
                            <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" aria-expanded="false" data-toggle="dropdown" href="#"><span class="d-none d-lg-inline mr-2 text-gray-600 small" th:text="${loggedinUser.user.firstname} + ' ' + ${loggedinUser.user.lastname}"></span><img class="border rounded-circle img-profile" src="assets/img/avatars/avatar1.jpeg"></a>
                                <div class="dropdown-menu shadow dropdown-menu-right animated--grow-in"><a class="dropdown-item" th:href="@{/userProfile}"><i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Profile</a>
                                    <div class="dropdown-divider"></div><a class="dropdown-item" th:href="@{/logout}"><i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Logout</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="container-fluid">
                <div th:if="${param.editMode}" class="card shadow mb-3">
                    <div class="card-header py-3">
                        <form th:action="@{/categoryManagement}" method="get">
                            <div class="form-row">
                                <div class="col">
                                    <p class="text-primary m-0 font-weight-bold">Edit Category's Details</p>
                                </div>
                                <button class="btn btn-primary btn-sm" type="submit">
                                    <i class="fa fa-close"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="card-body">
                        <form th:action="@{/saveEdittedCategory}" method="post">
                            <div class="form-row">
                                <div class="col">
                                    <div class="form-group">
                                        <label for="catName1"><strong>Name</strong></label>
                                        <input type="text" class="form-control" th:value="${selectedCategory.categoryID}" th:name="categoryID" hidden readonly/>
                                        <input type="text" class="form-control" id="catName1" th:value="${selectedCategory.name}" th:name="name" readonly/>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label for="catDescription1"><strong>Description</strong></label>
                                        <input type="text" class="form-control" id="catDescription1" th:value="${selectedCategory.description}" th:name="description" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <p id="errorHeader34" style="font-size: 18px; color: red;"></p>
                            </div>
                            <div class="form-group">
                                <button id="saveDetailsButton" class="btn btn-primary btn-sm" type="button" onclick="validateUserCreation()" >Save Changes</button>
                            </div>
                            <script>
                                function validateUserCreation() {
                                    var username = document.getElementById("catName1");
                                    var firstname = document.getElementById("catDescription1");
                                    if (username.value.length != 0 && firstname.value.length != 0 ){
                                        if (checkCharacters(username.value) && checkCharacters(firstname.value)){
                                            document.getElementById("createForm").submit();
                                        }else{
                                            document.getElementById("errorHeader34").innerHTML = "Illegal characters found!";
                                        }
                                    }else{
                                        document.getElementById("errorHeader34").innerHTML = "At least one of the neccessery fields is empty!";
                                    }
                                }

                                function checkCharacters(value){
                                    var notAllowedCharacters = /[!@#$%^&*()+\=\[\]{};':"\\|,.<>\/?]+/;
                                    if (notAllowedCharacters.test(value)){
                                        return false;
                                    }else{
                                        return true;
                                    }
                                }
                            </script>
                        </form>
                    </div>
                </div>
                <div th:if="${param.createMode}" class="card shadow mb-3">
                    <div class="card-header py-3">
                        <form th:action="@{/categoryManagement}">
                            <div class="form-row">
                                <div class="col">
                                    <p class="text-primary m-0 font-weight-bold">Create Category</p>
                                </div>
                                <button class="btn btn-primary btn-sm" type="submit">
                                    <i class="fa fa-close"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="card-body">
                        <form th:action="@{/createCategory}" method="post" id="createForm">
                            <div class="form-row">
                                <div class="col">
                                    <div class="form-group">
                                        <label for="catName"><strong>Name</strong></label>
                                        <input type="text" class="form-control" id="catName" placeholder="Name" th:name="name"/>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label for="catDescription"><strong>Description</strong></label>
                                        <input type="text" class="form-control" id="catDescription" placeholder="Description" th:name="description" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <p id="errorHeader" style="font-size: 18px; color: red;"></p>
                            </div>
                            <div class="form-row" th:if="${param.usernameError}">
                                <p id="errorHeader2" style="font-size: 14px; color: red;">This Name is already in use!</p>
                            </div>
                            <div class="form-group">
                                <button id="createUserButton" class="btn btn-primary btn-sm" type="button" onclick="validateUserCreation()">Create Category</button>
                                <script>
                                    function validateUserCreation() {
                                        var username = document.getElementById("catName");
                                        var firstname = document.getElementById("catDescription");
                                        if (username.value.length != 0 && firstname.value.length != 0 ){
                                            if (checkCharacters(username.value) && checkCharacters(firstname.value)){
                                                document.getElementById("createForm").submit();
                                            }else{
                                                document.getElementById("errorHeader").innerHTML = "Illegal characters found!";
                                            }
                                        }else{
                                            document.getElementById("errorHeader").innerHTML = "At least one of the neccessery fields is empty!";
                                        }
                                    }

                                    function checkCharacters(value){
                                        var notAllowedCharacters = /[!@#$%^&*()+\=\[\]{};':"\\|,.<>\/?]+/;
                                        if (notAllowedCharacters.test(value)){
                                            return false;
                                        }else{
                                            return true;
                                        }
                                    }
                                </script>
                            </div>
                        </form>
                    </div>
                </div>
                <h3 class="text-dark mb-4">Product Category</h3>
                <div class="card shadow">
                    <div class="card-header py-3">

                        <div class="row">
                            <div class="col">
                                <p class="text-primary m-0 font-weight-bold">Product Categories Info</p>
                            </div>
                            <form th:action="@{/categoryManagement}">
                                <button class="btn btn-primary" type="submit"><i class="fa fa-refresh"></i></button>
                            </form>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive table mt-2" id="dataTableDiv" role="grid" aria-describedby="dataTable_info">
                            <div class="col-10">
                                <form th:action="@{/addCategory}" method="post">
                                    <button class="btn btn-primary" th:name="createMode" th:value="true" type="submit" style="margin-right: 10px;">Add</button>
                                </form>
                            </div>
                            <table class="table my-0" id="dataTable">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>Created Date</th>
                                    <th>Updated Date</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:if="${categories.empty}">
                                    <td colspan="7"> Currently there are no categories in the database.</td>
                                </tr>
                                <tr th:each="category: ${categories}">
                                    <td><span th:text="${category.name}"></span></td>
                                    <td><span th:text="${category.description}"></span></td>
                                    <td><span th:text="${category.createdDate}"></span></td>
                                    <td><span th:text="${category.updatedDate}"></span></td>
                                    <form th:action="@{editCategory}" th:object="${editCategory}" method="post">
                                        <td><button th:name="editMode" th:value="true" class="btn btn-primary" type="submit" style="border-radius: 10px;">Edit</button></td>
                                        <input th:name="categoryID" th:value="${category.categoryID}"  hidden/>
                                    </form>
                                    <form th:action="@{/deleteCategory}">
                                        <td><button onclick="showDeletedAlert()" class="btn btn-primary" type="submit" style="border-radius: 10px;">Delete</button></td>
                                        <input th:name="categoryID" th:value="${category.categoryID}"  hidden/>
                                    </form>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="bg-white sticky-footer">
            <div class="container my-auto">
                <div class="text-center my-auto copyright"><span>Copyright © Brand 2021</span></div>
            </div>
        </footer>
    </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
</div>
<script th:src="@{assets/js/jquery.min.js}"></script>
<script th:src="@{assets/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{assets/js/chart.min.js}"></script>
<script th:src="@{assets/js/bs-init.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
<script th:src="@{assets/js/theme.js}"></script>
</body>

</html>