<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Order View</title>
    <link rel="stylesheet" th:href="@{assets/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" th:href="@{assets/fonts/fontawesome-all.min.css}">
    <link rel="stylesheet" th:href="@{assets/fonts/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{assets/fonts/fontawesome5-overrides.min.css}">
</head>

<body id="page-top">
<div id="wrapper">
    <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
        <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
            <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-laugh-wink"></i></div>
            <div class="sidebar-brand-text mx-3"><span>Brand</span></div>
        </a>
            <hr class="sidebar-divider my-0">
            <ul class="navbar-nav text-light" id="accordionSidebar">
                <li th:if="${loggedinUser.user.accessLevel} == 'ADMIN'" class="nav-item"><a class="nav-link active" th:href="@{/userManagement}"><i class="fas fa-table"></i><span>User Management</span></a></li>
                <li th:if="${loggedinUser.user.accessLevel} == 'ADMIN'" class="nav-item"><a class="nav-link active" th:href="@{/categoryManagement}"><i class="fas fa-table"></i><span>Category Management</span></a></li>
                <li th:if="${loggedinUser.user.accessLevel} == 'ADMIN'" class="nav-item"><a class="nav-link active" th:href="@{/productManagement}"><i class="fas fa-table"></i><span>Product Management</span></a></li>
                <li class="nav-item"><a class="nav-link active" th:href="@{/login}"><i class="fas fa-table"></i><span>Log in</span></a></li>
                <li class="nav-item"><a class="nav-link active" th:href="@{/register}"><i class="fas fa-table"></i><span>Register</span></a></li>
                <li class="nav-item"><a class="nav-link active" th:href="@{/clientDashboard}"><i class="fas fa-table"></i><span>Client dashboard</span></a></li>
                <li class="nav-item"><a class="nav-link active" th:href="@{/order}"><i class="fas fa-table"></i><span>Order</span></a></li>
                <li class="nav-item"><a class="nav-link active" th:href="@{/points}"><i class="fas fa-table"></i><span>points</span></a></li>
              </ul>
            <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
        </div>
    </nav>
    <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
            <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle mr-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
                    <ul class="navbar-nav flex-nowrap ml-auto">
                        <div class="d-none d-sm-block topbar-divider"></div>
                        <li class="nav-item dropdown no-arrow">
                            <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" aria-expanded="false" data-toggle="dropdown" href="#"><span class="d-none d-lg-inline mr-2 text-gray-600 small" th:text="${loggedinUser.user.firstname} + ' ' + ${loggedinUser.user.lastname}"></span><img class="border rounded-circle img-profile" src="assets/img/avatars/avatar1.jpeg"></a>
                                <div class="dropdown-menu shadow dropdown-menu-right animated--grow-in"><a class="dropdown-item" th:href="@{/userProfile}"><i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Profile</a>
                                    <div class="dropdown-divider"></div><a class="dropdown-item" th:href="@{/logout}"><i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Logout</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="container-fluid">
                <h3 class="text-dark mb-4">Team</h3>
                <div class="card shadow">
                    <div class="card-header py-3">

                        <div class="row">
                            <div class="col">
                                <p class="text-primary m-0 font-weight-bold">Product Info</p>
                            </div>
                            <form th:action="@{/viewOrders}">
                                <button class="btn btn-primary" type="submit"><i class="fa fa-refresh"></i></button>
                            </form>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive table mt-2" id="dataTableDiv" role="grid" aria-describedby="dataTable_info">
                            <table class="table my-0" id="dataTable">
                                <thead>
                                <tr>
                                    <th>Payment Type</th>
                                    <th>Client ID</th>
                                    <th>Seller ID</th>
                                    <th>Total</th>
                                    <th>Points Earned</th>
                                    <th>Created Date</th>
                                    <th>Updated Date</th>
                                    <th>Delete</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:if="${orders.empty}">
                                    <td colspan="7"> Currently there are no Orders in the database.</td>
                                </tr>
                                <tr th:each="order: ${orders}">
                                    <td><span th:text="${order.paymentType}"></span></td>
                                    <td><span th:text="${order.clientID}"></span></td>
                                    <td><span th:text="${order.sellerID}"></span></td>
                                    <td><span th:text="${order.total}"></span></td>
                                    <td><span th:text="${order.pointsEarned}"></span></td>
                                    <td><span th:text="${order.createdDate}"></span></td>
                                    <td><span th:text="${order.updatedDate}"></span></td>
                                    <form th:action="@{/viewOrderDetails}">
                                        <td><button onclick="showDeletedAlert()" class="btn btn-primary" type="submit" style="border-radius: 10px;">Delete</button></td>
                                        <input th:name="orderID" th:value="${order.orderID}"  hidden/>
                                    </form>
                                    <form th:action="@{/deleteOrder}">
                                        <td><button onclick="showDeletedAlert()" class="btn btn-primary" type="submit" style="border-radius: 10px;">Delete</button></td>
                                        <input th:name="orderID" th:value="${order.orderID}"  hidden/>
                                    </form>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="bg-white sticky-footer">
            <div class="container my-auto">
                <div class="text-center my-auto copyright"><span>Copyright © Brand 2021</span></div>
            </div>
        </footer>
    </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
</div>
<script th:src="@{assets/js/jquery.min.js}"></script>
<script th:src="@{assets/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{assets/js/chart.min.js}"></script>
<script th:src="@{assets/js/bs-init.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
<script th:src="@{assets/js/theme.js}"></script>
</body>

</html>